:root{
    --asideWidth: 200px
}

table tbody tr td{
    padding: 0.5rem 1rem!important;
}

@media only screen and (min-width: 992px)  {
    #menuNavbar{
        width: var(--asideWidth);
        height: 100vh;
        background-color: red;
    }

    main{
        width: calc(100% - var(--asideWidth) - 10px);

        margin-left: var(--asideWidth);
        background-color: blue;
    }

}

@media only screen and (max-width: 991px){
    #menuNavbar{
        width: 100%;
        position: absolute;
        background-color: white;
    }
}