* {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --asideWidth: 250px;
    --headerHeight: 72px;
}

.grid-container {
    display: grid;
    grid-template-columns: var(--asideWidth) 1fr;
    grid-template-rows: var(--headerHeight) 1fr;
    grid-template-areas: 'header header' 'aside main';
}

aside {
    grid-area: aside;
}

header {
    grid-area: header;
    background-color: #2a6592;
    color: #FFFFFF;
}

header #page-title h2 {
    margin-left: var(--asideWidth);
    font-weight: bold;
}

main {
    grid-area: main;
    background-color: #F8F9FA;
}

.rotate180 {
    transform: rotate(180deg);
}

header, .menuItem button,
td {
    display: flex;
    align-items: center;
}

td .material-icons,
#responseAlert .material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteModal {
    z-index: 5;
    width: 400px;
    display: none;
    position: fixed;
    right: calc(50% - calc(400px / 2));
    top: calc(var(--headerHeight) + 10px);
}

.section-header .section-title
{
    font-size: 24px;
}

#personal-data-header #personal-data-title,
#hire-data-header, #hire-data-title{
    font-size: 20px;
}

.menuItem .menuItemText {
    width: calc(var(--asideWidth) - 24px);
}

.menuItem .material-icons {
    width: 24px;
}

@media only screen and (min-width: 992px) {
    #menuNavbar {
        height: 100%;
    }
    #menuNavbar .menuItem .active {
        color: red;
    }
    aside {
        height: calc(100vh - var(--headerHeight));
    }
    main {
        min-height: calc(100vh - var(--headerHeight));
    }
    #recordModal .w3-modal-content {
        max-width: 600px;
    }
    #responseAlert {
        z-index: 4;
        max-width: 200px;
        display: none;
        position: fixed;
        right: 10px;
        top: calc(var(--headerHeight) + 10px);
    }
}

@media only screen and (max-width: 991px) {
    #menuNavbar {
        width: 100%;
        position: absolute;
        background-color: white;
    }
}